@font-face {
    font-family: "Symphony-Regular";
    src: url(./fonts/Symphony-Regular.ttf);
}
@font-face {
    font-family: "Sanchezregular" ;
    src: url(./fonts/Sanchezregular.otf);
}
@font-face {
    font-family: "POSTERABLE";
    src: url(/fonts/POSTERABLE.ttf);
}

